.button {
	font-family: Tahoma;
	color: black;
	word-break: break-all;
	word-wrap: break-word;
}

.odd {
	background-color: #E6E1E6; 
}

.even {
	background-color: #CBCBCB;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.textarea {
	width: 90%; 
	height: 200px; 
	resize: none; 
}

.block {
	width: 70%;
}

