.button {
	font-family: Tahoma;
	color: black;
	word-break: break-all;
	word-wrap: break-word;
}

.odd {
	background-color: #C9E4F6; /* фон нечетных строк */
}

.even {
	background-color: #B4DAF2; /* фон четных строк */
}